@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(style/nav.css);
@import url(style/btn.css);
@import url(style/text-align.css);
@import url(style/container.css);

* {
  font-family: 'Press Start 2P', sans serif;
}

body {
  margin: 0;
  padding: 20px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
  min-height: 100vh;
}