/* style/button.css */
.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ccc;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  font-size: 0.8em;
  box-shadow: 3px 3px 0px #888;
  cursor: pointer;
}

.btn:hover {
  background-color: #bbb;
}

/* เอฟเฟกต์ "ปุ่มถูกกด" */
.btn:active {
  box-shadow: 1px 1px 0px #888;
  transform: translate(2px, 2px); 
}