:root {
    --gentle-black: rgba(50, 50, 50, 0.8);
    --pink: #FFC5D3;
    --mini-pink: #f5c5cd;

    --font-family: 'Press Start 2P', cursive;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;

    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px), 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 30px 30px;
}

.title {
    text-align: center;
}

.menu {
    margin-bottom: 5px;
    border-style: solid;
    position: sticky;
    top: 0;
}

.menu ul {
    background-color: hsla(0, 0%, 20%, 0.800);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: block;
    text-align: center;
}

.menu li a:hover {
    color: #fac8d7;
} 

.contact {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid;
}

.contact-title {
    text-align: center;
}

button{
    font-family: var(--font-family);
}

.contact-buttons {
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-button {
    width: 100%;
    padding: 5px;
    border: outset;
    text-align: center;
    display: inline-block;
    background-color: #e0e0e0;
}

.contact-button:hover {
    border: inset;
}

.contact-button a {
    display: block;
    color: #333333;
    text-decoration: none;
}

.footer {
    font-size: small;
    text-align: center;
}