/* style/nav.css */
nav {
  background-color: #333;
  border: 2px solid #000;
  padding: 10px;
  box-shadow: 4px 4px 0px #000;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* ระยะห่างระหว่างปุ่ม */
}

.menu li a {
  color: #ee68d1; /* สีเหลืองนีออน */
  text-decoration: none;
  font-size: 0.9em;
  padding: 5px 10px;
  /* ปิดเงาข้อความใน nav เพื่อให้อ่านง่ายขึ้น */
  text-shadow: none; 
}

.menu li a:hover {
  background-color: #ee68d1;
  color: #333;
  /* เอฟเฟกต์ hover แบบง่ายๆ */
}