:root {
    --soft-pink: #ffd5d5;

    --font-family: 'Press Start 2P', cursive;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
}

.menu {
    margin-bottom: 5px;
    border-style: solid;
    position: sticky;
    top: 0;
}

.menu ul {
    background-color: hsla(0, 0%, 20%, 0.800);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.menu li {
    float: left;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: block;
    text-align: center;
}

.menu li a:hover {
    color: #fac8d7;
} 

.showcase {
    /* display: flex; */
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-style: solid;
}

.showcase-title {
    text-align: center;
}

.footer {
    text-align: center;
}