.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #333;
    background-color: #fff;
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 2vmin; 
    box-sizing: border-box; 
    overflow-x: hidden; 
}

hr {
    border: 2px solid #ebebeb;
    border-radius: 4px;
    width: 60%;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 5vmin;
}

marquee {
    color: #ff7196;
    font-size: 5vmin;
}

button {
    color: #fff;
    background-color: #ff7196;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

#profile-picture {
    display: block;
    margin: 0 auto;
    width: min(40vmin, 200px);
    height: auto;
    border: 5px solid transparent; /* Add initial transparent border */
    box-sizing: border-box; /* Include border in element's total width and height */
}
#profile-picture:hover {
    border-style: solid;
    border-color: #333; /* Change border color on hover */
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
}

#profession {
    margin: 2px auto;
    color: #ff7196;
    font-size: 2.5vmin;
    text-align: center;
    display: block;
}

#short-intro {
    border-style: dashed ;
    border-color: #333;
    border-width: 2px;
    padding: 2vmin; 
    margin: 2.5% 10% 2.5% 10%;
    font-size: 3vmin;
}

.menu {
    margin: 25px auto; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
}

.contact {
    margin: 25px 50px;
}

.contact h3 {
    padding: 5px;
    background-color: #ebebeb;
    color: #ff7196;
    font-size: 3vmin; 
}
.contact ul li {
    margin-bottom: 10px;
    font-size: 3vmin;
}

h3 {
    padding: 5px;
    background-color: #ebebeb;
    color: #ff7196;
    font-size: 5vmin; 
}

li a {
    text-decoration: none;
    color: #666;
}

li a:hover {
    color: #f7a8bd;
}

footer p {
    margin: 5%;
    text-align: center;
    color: #666;
    font-size: 1.5vmin; 
}